@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #45b6fe;
  padding: 0px;
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, #000000dc, #000000de),
    url(../img/keyboard.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(0% 0%, 60% 0%, 70% 50%, 60% 100%, 0% 100%); */
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  position: sticky;
}

li,
a {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  font-size: 1.1em;
  color: #45b6fe;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  display: none;
}

.nav-links {
  list-style: none;
  display: inline;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: aliceblue;
}

button {
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid #45b6fe;
  border-radius: 2px;
  cursor: pointer;
  color: #45b6fe;
  font-family: "Source Code Pro", monospace;
  font-size: 1.1em;
}

button:hover {
  background-color: #464343a2;
  transition: all 0.3s ease 0s;
  color: aliceblue;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 20%;
}

.heading-primary {
  color: #fff;
  transition: all 0.2s;
  /* text-transform: uppercase; */
  /*backface-visibility: hidden; - to get rid of little shaky (but my version it is not showing)*/
}

.heading-primary-main {
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 25px;
  text-transform: uppercase;

  animation: fromLeftToRight 1s ease-out;
}

.heading-primary-sub {
  position: absolute;
  display: block;
  color: #45b6fe;
  letter-spacing: 0.5em;
  animation: typing 4s steps(20), blink-caret 1s step-end infinite;
  animation-delay: 0, 4s, 10s;

  overflow: hidden;
  white-space: nowrap; /*  Keeps the content on a single line */
  margin: 2 auto; /* Gives that scrolling effect as the typing happens */

  border-right: 4px solid #45b6fe;
}

@keyframes typing {
  0% {
    width: 0ch;
  }

  100% {
    width: 39ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #45b6fe;
  }
}

@keyframes fromLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  80% {
    transform: translateX(10px) /* rotate(180deg)*/;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-timeline {
  overflow: hidden;
  position: relative;
  display: block;
  width: 10%;
  height: auto;
  top: -10%;
  bottom: 0%;
  left: 3%;
  margin: 70px 0px;
}

.social-icons {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 25px;

  animation: blink 4s ease-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mail-icon {
  position: absolute;
  bottom: 3%;
  right: 1.5%;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
}

.mail-link {
  text-align: unset;
  color: #fff;
}

/* section skills */
#skills {
  background-image: linear-gradient(to bottom, #000000dc, #000000bb),
    url(../img/white-brick.jpg);
}

.skill-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 150px 350px 150px;
}

li.skill-list {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-weight: 600;
}

.skills-item {
  max-width: 250px;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.skill-icon-span {
  font-size: 100px;
}
/* section projects */
#projects {
  background-image: linear-gradient(to right, #000000dc, #000000de),
    url(../img/white-brick.jpg);
}

.project-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: #000000dc; */
}

.project-container {
  background-color: #fff;
  max-width: 98rem;
  padding: 5rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.section-heading {
  /* background-color: #000000dc; */
  text-align: center;
  padding: 5rem 10rem;
  font-size: 1.5rem;
}
.project-container .projects-images {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.projects-images::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: linear-gradient(
    to right,
    rgba(79, 172, 254, 0.8),
    rgba(0, 242, 254, 0.8)
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
}

.project-title {
  font-size: 1.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #45b6fe;
}

.projects-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.project-link {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

/* Footer styles */
.footer-main-div {
  width: 100%;
  height: auto;
  margin: auto;
  background: #000000dc;
  padding: 20px 0px;
}

.footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul {
  margin: 0px;
  padding: 0px;

  text-align: center;
}

.footer-social-icons ul li.footer-list {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-weight: 600;
}

.footer-social-icons .footer-links {
  color: #fff;
  width: 100px;
}

.footer-social-icons {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 25px;
}

.footer-social-icons {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 25px;
}

.footer-social-span:hover {
  font-size: 40px;
  font-weight: 800;
  color: #45b6fe;
  transition: all 0.3s ease 0.1s;
}

.footer-words {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}
.footer-words a:hover {
  color: #fff;
  transition: all 0.6s ease 0.2s;
}

/* BGCVVBF2C6YY */
